<div class="row">
  <div class="col-md-12">
    <card cardTitle="Inline Form">
      <form class="form-inline">
        <label for="example1" class="form-label">Name:</label>
        <input type="text" class="form-control" id="example1" placeholder="Jane Doe">
        <label for="example2" class="form-label">Email:</label>
        <input type="email" class="form-control" id="example2" placeholder="jane.doe@example.com">
        <button type="submit" class="btn btn-primary">Send Invitation</button>
      </form>
    </card>
  </div>
  <div class="col-md-12">
    <card cardTitle="Basic Form">
      <form class="form-group">
        <label class="control-label">Name</label>
        <input type="text" class="form-control" placeholder="Name">
        <label class="control-label">Surname</label>
        <input type="text" class="form-control" placeholder="Surname">
        <label class="control-label">Password</label>
        <input type="password" class="form-control" placeholder="Password">
        <label class="control-label">Description</label>
        <textarea class="form-control" placeholder="Description"></textarea>
        <input class="checkbox" type="checkbox" id="remember" checked>
        <label class="check-label" for="remember">Remember Me</label>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </card>
  </div>
</div>
