@import '../../theme/conf';
.pages-sider {
    width: 250px;
    height: 100%;
    background: $sidebar-bg;
    overflow-x: hidden;
    @include transition(all .5s);
    border-right: 1px solid $border-color; //@include box-shadow( 2px 0 2px rgba($black, .06));
}

.avatar-wrap {
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 220px;
    height: auto;
    min-height: 50px;
    border-bottom: 1px solid $border-color;
    @include transition(all .4s);
    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        overflow: hidden;
        @include transition(all .4s);
        img {
            display: block;
            width: 100%;
        }
    }
    .user-info-wrap {
        padding: 2px 14px;
        width: 170px;
        height: auto;
        @include transition(all .4s);
    }
}

.user-name,
.user-post {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.user-name {
    color: $sidebar-fonts-color;
    font-size: $lg-text;
}

.user-post {
    color: $primary;
    font-size: $sm-text;
    margin-top: 5px;
}

.side-collapsed {
    width: 50px;
    .avatar-wrap {
        padding: 15px 4px;
        border-bottom: 1px solid transparent;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 5px 2px;
    }
    .user-info-wrap {
        transform: scale(0, 0);
    }
}

@media (max-width:970px) {
    .pages-sider {
        width: 0;
    }
}