@import '../../theme/conf';
.pages-sider {
    width: 250px;
    height: 100%;
    background: $sidebar-bg;
    overflow-x: hidden;
    @include transition(all .3s);
    float: left;
}

.avatar-wrap {
    padding: 15px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 220px;
    height: auto;
    min-height: 50px;
    border-bottom: 1px solid $border-color;
    @include transition(all .4s);
    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        overflow: hidden;
        @include transition(all .4s);
        img {
            display: block;
            width: 100%;
        }
    }
    .user-info-wrap {
        padding: 2px 14px;
        flex: 1;
        height: auto;
        @include transition(all .4s);
    }
}

.user-name {
    display: block;
    color: $sidebar-fonts;
    font-size: $lg-text;
}

.user-post {
    display: block;
    color: $primary;
    font-size: $sm-text;
    margin-top: 5px;
}

.msg-tips-wrap {
    margin: 0;
    width: 100%;
    height: 50px;
    color: $sidebar-fonts;
    @include transition(all .4s);
}

.msg-entrance {
    position: relative;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    @include transition(all .4s);
    &:hover {
        cursor: pointer;
        color: $primary;
    }
    span.badge {
        padding: 0;
        position: absolute;
        top: 14px;
        right: 27px;
        display: block;
        width: 11px;
        height: 11px;
        background: $primary;
        border: 2px solid $sidebar-bg;
        border-radius: 50%;
    }
}

.side-collapsed {
    width: 50px;
    .avatar-wrap {
        padding: 15px 4px;
        border-bottom:1px solid transparent;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 2px;
    }
    .user-info-wrap {
        transform: scale(0, 0);
    }
    .msg-center-wrap {
        height: 160px;
    }
}

@media (max-width:970px) {
    .pages-sider {
        width: 0;
    }
}