<div class="pages-sider" [ngClass]="{'side-collapsed':!sidebarToggle}" (click)="_sidebarToggle()">
  <div class="avatar-wrap">
    <div class="avatar">
      <img src="{{avatarImgSrc}}" alt="avatar">
    </div>
    <div class="user-info-wrap">
      <span class="user-name">Folisise Chosielie</span>
      <span class="user-post">Musician, Player</span>
    </div>
  </div>
  <div class="msg-tips-wrap row">
    <div class="msg-entrance ring col-sm-4">
      <span class="fa fa-bell fa-fw"></span>
      <span class="badge" *ngIf="tip.ring"></span>
    </div>
    <div class="msg-entrance comments col-sm-4">
      <span class="fa fa-comments fa-fw"></span>
      <span class="badge" *ngIf="tip.comments"></span>
    </div>
    <div class="msg-entrance email col-sm-4">
      <span class="fa fa-envelope fa-fw"></span>
      <span class="badge" *ngIf="tip.email"></span>
    </div>
  </div>
  <du-menu [menuInfo]="menuInfo" [sidebarToggle]="sidebarToggle"></du-menu>
</div>
