<div class="pages-sider" [ngClass]="{'side-collapsed':!isViewAll}" (click)="_isViewAll()">
  <div class="avatar-wrapper">
    <div class="avatar">
      <img src="assets/images/12011794.png" alt="avatar">
    </div>
    <div class="user-info-wrap">
      <span class="user-name">Hiver U</span>
      <span class="user-post">Developer</span>
    </div>
  </div>
  <div class="br"></div>
  <div class="tips-wrapper row">
    <div class="ring col-sm-4">
      <span class="fa fa-bell fa-fw"></span>
      <span class="badge" *ngIf="tip.ring"></span>
    </div>
    <div class="comments col-sm-4">
      <span class="fa fa-comments fa-fw"></span>
      <span class="badge" *ngIf="tip.comments"></span>
    </div>
    <div class="email col-sm-4">
      <span class="fa fa-envelope fa-fw"></span>
      <span class="badge" *ngIf="tip.email"></span>
    </div>
  </div>
  <du-menu [menuInfo]="menuInfo" [isViewAll]="isViewAll"></du-menu>
</div>