<div class="pages-wrapper">
    <div class="pages-side">
        <div class="avatar-wrapper"></div>
        <du-menu-item></du-menu-item>
    </div>
    <div class="pages-body">
        <div class="pages-top">
            <a href="" class="collapse-menu">
                <i class="fa fa-naviconfa fa-fw"></i>
            </a>
        </div>
        <div class="pages-content">
            <div class="pages-content-top">
                <du-breadcrumb [breadcrumbItem]="breadcrumbItem"></du-breadcrumb>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>