.pages-wrapper{
    width:100%;
    height:100%;
    position: absolute;
    display: flex;
    flex-direction:row;
    /* background: -webkit-linear-gradient(left top, #7170fa , #0dadf1 , #5ac4f3);
    background: -moz-linear-gradient(bottom right, #7170fa, #0dadf1 , #5ac4f3);
    background: linear-gradient(to bottom right, #7170fa , #0dadf1 , #5ac4f3); */
    .pages-side{
        width:220px;
        height:100%;
        background: transparent;
        .avatar-wrapper{
            width:100%;
            height:250px;
            //border:1px solid #fff;
        }
    }
    .pages-body{
        flex: 1;
        display: flex;
        flex-direction:column;
        .pages-top{
            width:100%;
            height:70px;
            background: transparent;
        }
        .pages-content{
            flex: 1;
            background: #fff;
            padding:10px;
            .pages-content-top{
                //border:1px solid #000;
                width:100%;
            }
        }
    }
}
