<div class="pages-wrapper">
    <pa-siderbar [isViewAll]="isViewAll"></pa-siderbar>
    <div class="pages-body">
        <div class="pages-top">
            <div class="collapse-menu">
                <a href="javascript:;" (click)="_isViewAll()">
                    <i class="fa fa-navicon fa-fw"></i>
                </a>
            </div>
        </div>
        <div class="pages-content">
            <div class="pages-content-top">
                <du-breadcrumb [breadcrumbItem]="breadcrumbItem"></du-breadcrumb>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>