<div class="row">
  <div class="col-md-6">
    <card cardTitle="TABS">
      <du-tabs>
        <tab-content tabsTitle="tabs 1">
          <span>sasasssssssas</span>
        </tab-content>
        <tab-content tabsTitle="tabs 2">
          <span>sasasssssssas</span>
        </tab-content>
        <tab-content tabsTitle="tabs 3">
          <span>sasasssssssas</span>
        </tab-content>
        <tab-content tabsTitle="tabs 4">
          <span>sasasssssssas</span>
        </tab-content>
        <tab-content tabsTitle="tabs 5">
          <span>sasasssssssas</span>
        </tab-content>
      </du-tabs>
    </card>
  </div>
  <div class="col-md-6">
  </div>
</div>
