.icon-box {
    margin: 20px 0;
    height:auto;
    min-height:100px;
    text-align: center;
    font-size: 12px;
    .icon {
        display: block;
        margin: 10px 0;
        width: 100%;
        font-size: 30px;
    }
}