@import '../../theme/conf';
.switch {
    display: none;
}

.switch-wrap {
    display: block;
    width: 45px;
    height: 10px;
    border: none;
    border-radius: 20px !important;
    background: rgba($black, .2);
    cursor: pointer;
    position: relative;
    @include transition(all .3s);
    @include box-shadow(1px 1px 10px rgba($black, .2) inset);
}

.switch-wrap:after {
    display: block;
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 19px !important;
    background: $white;
    position: relative;
    top: -6px;
    left: -1px;
    @include transition(all .5s cubic-bezier(.9, .01, .05, 1));
    @include box-shadow(2px 2px 10px rgba($black, .4));
}

.switch:checked+.switch-wrap {
    background: $primary;
}

.switch:checked+.switch-wrap:after {
    left: 25px;
}

.switch:checked+.switch-wrap-default {
    background: $primary;
}

.switch:checked+.switch-wrap-success {
    background: $success;
}

.switch:checked+.switch-wrap-warning {
    background: $warning;
}

.switch:checked+.switch-wrap-danger {
    background: $danger;
}

.switch:checked+.switch-wrap-info {
    background: $info;
}