@import '../../theme/conf';
.switch {
    display: none;
}

.switch-wrap {
    display: inline-block;
    width: 38px;
    height: 22px;
    border: 2px solid rgba($black, .05);
    border-radius: 20px !important;
    background: rgba($black, .1);
    cursor: pointer;
    position: relative;
    @include transition(all .3s);
}

.switch-wrap:after {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50% !important;
    background: $white;
    position: relative;
    top: 0;
    left: 0;
    @include transition(all .4s cubic-bezier(.76, .43, .25, 1.64));
    @include box-shadow(2px 2px 10px rgba($black, .15));
}

.switch:checked+.switch-wrap {
    background: $primary;
}

.switch:checked+.switch-wrap:after {
    left: 16px;
}

.switch:checked+.switch-wrap-default {
    background: $primary;
}

.switch:checked+.switch-wrap-success {
    background: $success;
}

.switch:checked+.switch-wrap-warning {
    background: $warning;
}

.switch:checked+.switch-wrap-danger {
    background: $danger;
}

.switch:checked+.switch-wrap-info {
    background: $info;
}