<card>
  <h5 class="grid-title">Grid Detail</h5>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Max Container Width</td>
        <td>1170px</td>
        <td>970px</td>
        <td>750px</td>
        <td>auto</td>
      </tr>
      <tr>
        <td>Class Prefix</td>
        <td>.col-lg-</td>
        <td>.col-md-</td>
        <td>.col-sm-</td>
        <td>.col-xs-</td>
      </tr>
    </tbody>
  </table>
  <h5 class="grid-title">Stacked to horizontal</h5>
  <div class="row show-grid">
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
    <div class="col-md-1">
      <div>.col-md-1</div>
    </div>
  </div>
  <div class="row show-grid">
    <div class="col-md-8">
      <div>.col-md-8</div>
    </div>
    <div class="col-md-4">
      <div>.col-md-4</div>
    </div>
  </div>
  <div class="row show-grid">
    <div class="col-md-4">
      <div>.col-md-4</div>
    </div>
    <div class="col-md-4">
      <div>.col-md-4</div>
    </div>
    <div class="col-md-4">
      <div>.col-md-4</div>
    </div>
  </div>
  <div class="row show-grid">
    <div class="col-md-6">
      <div>.col-md-6</div>
    </div>
    <div class="col-md-6">
      <div>.col-md-6</div>
    </div>
  </div>

  <h5 class="grid-title">Mobile and desktop</h5>
  <div class="row show-grid">
    <div class="col-12 col-md-8">
      <div>.col-12 .col-md-8</div>
    </div>
    <div class="col-6 col-md-4">
      <div>.col-6 .col-md-4</div>
    </div>
  </div>
  <div class="row show-grid">
    <div class="col-6 col-md-4">
      <div>.col-6 .col-md-4</div>
    </div>
    <div class="col-6 col-md-4">
      <div>col-6 .col-md-4</div>
    </div>
    <div class="col-6 col-md-4">
      <div>.col-6 .col-md-4</div>
    </div>
  </div>
  <div class="row show-grid">
    <div class="col-6">
      <div>.col-6</div>
    </div>
    <div class="col-6">
      <div>.col-6</div>
    </div>
  </div>

  <h5 class="grid-title">Mobile, tablet, desktop</h5>
  <div class="row show-grid">
    <div class="col-12 col-sm-6 col-md-8">
      <div>.col-12 .col-sm-6 .col-md-8</div>
    </div>
    <div class="col-6 col-md-4">
      <div>.col-6 .col-md-4</div>
    </div>
  </div>
  <div class="row show-grid">
    <div class="col-6 col-sm-4">
      <div>.col-6 .col-sm-4</div>
    </div>
    <div class="col-6 col-sm-4">
      <div>.col-6 .col-sm-4</div>
    </div>
    <div class="col-6 col-sm-4">
      <div>.col-6 .col-sm-4</div>
    </div>
  </div>
</card>
