<div class="card animated fadeIn bg-default">
    <div class="card-header" *ngIf="cardTitle">
        <h4 class="card-title">{{cardTitle}}</h4>
        <div class="btn-group">
            <button class="material-btn" (click)="collapseCard()">
                <i class="fa fa-angle-down fa-fw" [ngClass]="{'collapse-on':collapse === 'on','collapse-off':collapse === 'off'}"></i>
            </button>
        </div>
    </div>
    <div class="card-content" [@collapse]="collapse">
        <ng-content></ng-content>
    </div>
</div>