/* basic scrollbar styling */


/* vertical scrollbar */

.mCSB_container {
    width: auto;
    margin-right: 30px;
    overflow: hidden;
}

.mCustomScrollBox>.mCSB_scrollTools {
    width: 16px;
    height: 100%;
    top: 0;
    right: 0;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}


/* default scrollbar colors and backgrounds (default theme) */

.mCSB_scrollTools .mCSB_draggerRail {
    background: #000;
    /* rgba fallback */
    background: rgba(0, 0, 0, 0.4);
    filter: "alpha(opacity=40)";
    -ms-filter: "alpha(opacity=40)";
    /* old ie */
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #fff;
    /* rgba fallback */
    background: rgba(255, 255, 255, 0.75);
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
    /* old ie */
}