sudo: false

language: node_js

node_js:
  - 6.0

branches:
  only:
  - master

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script: 
  - npm run build:ci

git:
  depth: 1
