<ul class="nav-box">
    <li *ngFor="let item of menuItem" class="nav-list">
        <a href="javascript:;" [routerLink]="[item.routerLink]">{{item.title}}</a>
        <ul class="nav-box">
            <li *ngFor="let item of item.children">
                <a href="javascript:;" [routerLink]="[item.routerLink]">{{item.title}}</a>
                <ul class="nav-box">
                    <li *ngFor="let item of item.children">
                        <a href="javascript:;" [routerLink]="[item.routerLink]">{{item.title}}</a>
                        <ul class="nav-box">
                            <li *ngFor="let item of item.children">
                                <a href="javascript:;" [routerLink]="[item.routerLink]">{{item.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>