@import "../../theme/conf";
.loading-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba($black, .8);
}

.loading-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.loading-box:before,
.loading-box:after {
    position: absolute;
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    background: rgba($primary, .5);
    border: none;
    border-radius: 50%;
    -webkit-animation: loader-10-2 2s infinite ease-in-out;
    animation: loader-10-2 2s infinite ease-in-out;
}

.loading-box:after {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes loader-10-2 {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes loader-10-2 {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}