@import '../../theme/conf';
li {
    padding: 5px 15px;
    list-style: none;
    font-size: $sm-text;
}

.trees-items {
    &:hover {
        cursor: pointer;
        .ico {
            color: lighten($primary, 10%);
        }
    }
}

.file-ico {
    display: inline-block;
    width: 50px;
    margin-right: 5px;
    text-align: left;
    .ico {
        font-size: $default-text;
        color: $primary;
        margin: 0;
    }
    .fa-file {
        margin-left: 22px;
    }
}

.item-children {
    overflow: hidden;
}