<div class="row">
  <div class="col-md-4">
    <card cardTitle="small progressbar">
      <progress-bar percent="30"></progress-bar>
      <progress-bar percent="40" theme="success"></progress-bar>
      <progress-bar percent="50" theme="warning"></progress-bar>
      <progress-bar percent="60" theme="danger"></progress-bar>
      <progress-bar percent="70" theme="info"></progress-bar>
    </card>
  </div>
  <div class="col-md-8">
    <card cardTitle="large progressbar">
      <progress-bar percent="30" theme="primary" size="lg"></progress-bar>
      <progress-bar percent="40" theme="success" size="lg"></progress-bar>
      <progress-bar percent="50" theme="warning" size="lg"></progress-bar>
      <progress-bar percent="60" theme="danger" size="lg"></progress-bar>
      <progress-bar percent="70" theme="info" size="lg"></progress-bar>
    </card>
  </div>
  <div class="col-md-12">
    <card cardTitle="without percentNumber">
      <progress-bar percent="30" [percentShow]="false" theme="primary" size="lg"></progress-bar>
      <progress-bar percent="40" [percentShow]="false" theme="success" size="lg"></progress-bar>
      <progress-bar percent="50" [percentShow]="false" theme="warning" size="lg"></progress-bar>
      <progress-bar percent="60" [percentShow]="false" theme="danger" size="lg"></progress-bar>
      <progress-bar percent="70" [percentShow]="false" theme="info" size="lg"></progress-bar>
    </card>
  </div>
</div>
