<div class="row">
  <div class="col-md-4">
    <card cardTitle="small progressbar">
      <progress-bar percentNumber="30" color="primary" type="default"></progress-bar>
      <progress-bar percentNumber="40" color="success" type="default"></progress-bar>
      <progress-bar percentNumber="50" color="warning" type="default"></progress-bar>
      <progress-bar percentNumber="60" color="danger" type="default"></progress-bar>
      <progress-bar percentNumber="70" color="info" type="default"></progress-bar>
    </card>
  </div>
</div>
