<div class="row">
  <div class="col-md-12">
    <card cardTitle="notications">
      <button class="btn btn-primary" (click)="notification('default')">Default Notification</button>
      <button class="btn btn-success" (click)="notification('success')">Success Notification</button>
      <button class="btn btn-warning" (click)="notification('warning')">Warning Notification</button>
      <button class="btn btn-danger" (click)="notification('danger')">Danger Notification</button>
      <button class="btn btn-info" (click)="notification('info')">Info Notification</button>
    </card>
  </div>
  <div class="col-md-8">
    <card cardTitle="SweetAlert2">
      <button class="btn btn-primary" (click)="alert2BasicMessage()">basic message</button>
    </card>
  </div>
</div>
