<div class="row">
  <div class="col-md-6">
    <card cardTitle="notications">
      <button class="btn btn-primary" (click)="default()">Default Notification</button>
      <button class="btn btn-success" (click)="success()">Success Notification</button>
      <button class="btn btn-warning" (click)="warning()">Warning Notification</button>
      <button class="btn btn-danger" (click)="danger()">Danger Notification</button>
      <button class="btn btn-info" (click)="info()">Info Notification</button>
    </card>
  </div>
</div>
