@import '../../theme/conf';
.pages-top {
    width: 100%;
    height: 80px;
    background: transparent;
    position: relative;
    border-bottom: 1px solid $border-color;
}

.collapse-menu {
    position: absolute;
    top: 50%;
    left: 20px;
    color: $fonts-color;
    font-size: 24px;
    cursor: pointer;
    transform: translate(0, -50%);
    @include transition(all .1s);
    @include center(40px,40px);
    &:hover {
        color: $primary;
    }
}

.fade-out {
    @include transition(scale .5s);
    @include transform(scale(0));
    width: 0;
    height: 0;
}

.fade-in {
    @include transition(all .5s);
    @include transform(scale(1));
}

.search-wrap {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    border: 1px solid $border-color;
    border-radius: 40px;
    .search-input {
        width: 300px;
        height: 40px;
        background: transparent;
        border: none;
        border-radius: 40px;
        outline: none;
        color: $fonts-color;
        font-size: $sm-text;
        text-indent: 1.5em;
    }
    .search-btn {
        position: relative;
        right: 5px;
        width: 30px;
        height: 30px;
        background: $primary;
        border: 0;
        border-radius: 50%;
        outline: none;
        line-height: 25px;
        text-align: center;
        color: $body-bg;
        transform: scale(0);
        transition: all .4s;
        &:hover {
            background: lighten($primary, 10%);
            transform: scale(1);
        }
    }
    .search-input:focus+.search-btn {
        transform: scale(1);
    }
}

@media (max-width:970px) {
    .collapse-menu{
        transform: scale(0);
    }
}