<div class="pages-top">
  <div class="collapse-menu" (click)="_sidebarToggle()">
    <i class="fa fa-navicon fa-fw" [ngClass]="{'fade-in':sidebarToggle,'fade-out':!sidebarToggle}"></i>
    <i class="fa fa-chevron-right fa-fw" [ngClass]="{'fade-in':!sidebarToggle,'fade-out':sidebarToggle}"></i>
  </div>
  <div class="search-wrap">
    <input type="text" class="search-input" placeholder="Search · · ·">
    <button class="search-btn">
      <i class="fa fa-search fa-fw"></i>
    </button>
  </div>
</div>
