.card {
    width: auto;
    height: auto;
    background: $card-bg;
    position: relative;
    border: none;
    border-radius: 5px;
    color: $gray;
    margin-bottom: 24px;
    @include box-shadow(0 0 24px 0 rgba($black, .06), 0 1px 0 0 rgba($black, .02));
}

.card-block {
    display: block;
    padding: 10px;
}

.card-header {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid $border-color;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    .card-title {
        display: inline-block;
        margin: 0;
        line-height: 40px;
        font-size: 13px;
        letter-spacing: .1em;
    }
}

.collapse-btn {
    display: block;
    text-align: center;
    outline: none;
    border: none;
    position: relative;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: $lg-text;
    background: transparent;
    color: rgba($gray, .5);
    letter-spacing: -$lg-text;
    &:hover {
        color: $primary;
    }
}

.collapse-off {
    @include transition(all .5s);
    @include transform(scale(0));
    width: 0;
}

.collapse-on {
    @include transition(all .5s);
    @include transform(scale(1));
}

.card-content {
    padding: 10px 10px 0 10px;
    height: auto;
    overflow-x: hidden;
}

.card-footer {
    width: 100%;
    height: auto;
    min-height: 45px;
    line-height: 45px;
    border: none;
    border-top: 1px solid $border-color;
    padding: 0 10px;
}

.tip-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .tip-msg {
        h2 {
            line-height: .5em;
        }
        span {
            color:rgba($fonts-color,.6);
        }
    }
    .tip-ico {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        color: $white;
        line-height: 70px;
        text-align: center;
        font-size: 20px;
    }
    .tip-ico-primary {
        @extend .bg-primary;
        @include box-shadow( 0 2px 5px 0 rgba($primary, .5));
    }
    .tip-ico-success {
        @extend .bg-success;
        @include box-shadow( 0 2px 5px 0 rgba($success, .5));
    }
    .tip-ico-danger {
        @extend .bg-danger;
        @include box-shadow( 0 2px 5px 0 rgba($danger, .5));
    }
    .tip-ico-warning {
        @extend .bg-warning;
        @include box-shadow( 0 2px 5px 0 rgba($warning, .5));
    }
    .tip-ico-info {
        @extend .bg-info;
        @include box-shadow( 0 2px 5px 0 rgba($info, .5));
    }
}