@import './mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#16171b;
$sidebar-bg:#17191d;
$sidebar-fonts:#fff;
$card-bg:#17191d;
$white:#fff;
$black:#000;
$mask:rgba($black, .1);
$border-color:rgba($black, .1);
$fonts-color:#fff;
$primary:#e45036;
$success:#04ad53;
$danger:#ff2756;
$warning:#fd8f00;
$info:#1e65ff;
body {
    background: $body-bg;
}

.bg-default {
    background: lighten($border-color, 70%);
}

.bg-primary {
    @include linear-gradient(to top right, $primary, #ffbe56);
}

.bg-success {
    @include linear-gradient(to top right, $success, #1dffc7);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fd7a9b);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fce16a);
}

.bg-info {
    @include linear-gradient(to top right, $info, #04f7fb);
}