@import './mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#1b2338;
$sidebar-bg:#222a41;
$sidebar-fonts:#ffffff;
$card-bg:#222a41;
$white:#ffffff;
$black:#000000;
$gray:#cccccc;
$mask:rgba($black, .1);
$border-color:rgba($black, .1);
$fonts-color:#ffffff;
$primary:#e45036;
$primary-end:#ffbe56;
$success:#04ad53;
$danger:#fd3964;
$warning:#fd8f00;
$info:#1e65ff;
body {
    background: $body-bg;
}

.bg-primary {
    @include linear-gradient(to top right, $primary, $primary-end);
}

.bg-success {
    @include linear-gradient(to top right, $success, #1dffc7);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fd7a9b);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fce16a);
}

.bg-info {
    @include linear-gradient(to top right, $info, #04f7fb);
}