@import './mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:20px;
$body-bg:#212b34;
$siderbar-bg:#212b34;
$card-bg:#212b34;
$white:#ffffff;
$black:#000000;
$gray:#cccccc;
$mask:rgba($black, .1);
$border-color:rgba($black, .1);
$fonts-color:#ffffff;
$primary:#f65d57;
$primary-end:#ffba4a;
$success:#00b144;
$danger:#ff4187;
$warning:#fdcf00;
$info:#1e65ff;

body{
    background: $body-bg;
}

.bg-default {
    background: $body-bg;
}

.bg-primary {
    @include linear-gradient(to top right, $primary, $primary-end);
}

.bg-success {
    @include linear-gradient(to top right, $success, #42e697);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fbaa68);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fce16a);
}

.bg-info {
    @include linear-gradient(to top right, $info, #04f7fb);
}