@import './mixin';
$default-text:14px;
$sm-size:12px;
$lg-text:16px;
$body-bg:#f0f0f0;
$siderbar-bg:#ffffff;
$card-bg:#ffffff;
$white:#ffffff;
$black:#000000;
$gray:#666666;
$border-color:#e0e0e0;
$fonts-color:#555555;
$mask:rgba($black, .1);
$primary:#bc6bff;
$primary-end:#11e9e2;
$success:#29bdb6;
$danger:#f9619a;
$warning:#fda400;
$info:#2e70ff;
.bg-default {
    background: $body-bg;
}

.bg-primary {
    @include linear-gradient(to top right, $primary, $primary-end);
}

.bg-success {
    @include linear-gradient(to top right, $success, #42e697);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fbaa68);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fce16a);
}

.bg-info {
    @include linear-gradient(to top right, $info, #0ae9ec);
}