@import './mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#f1f1f1;
$sidebar-bg:#fff;
$sidebar-fonts:#555555;
$card-bg:#ffffff;
$white:#ffffff;
$black:#000000;
$gray:#666666;
$border-color:#e2e2e2;
$fonts-color:#555555;
$mask:rgba($black, .1);
$primary:#faae21;
$primary-end:#fad184;
$success:#29bdb6;
$danger:#f9619a;
$warning:#ff7403;
$info:#2cc3ff;
body {
    background: $body-bg;
}

.bg-default {
    @include linear-gradient(to top right, darken($border-color, 10%), lighten($border-color, 5%));
}

.bg-primary {
    @include linear-gradient(to top right, $primary, $primary-end);
}

.bg-success {
    @include linear-gradient(to top right, $success, #42e697);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fbaa68);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fcc26a);
}

.bg-info {
    @include linear-gradient(to top right, $info, #15f8bf);
}