<div class="card animated zoomIn modal-close" [ngClass]="{'modal-close':!isToggle,'modal-open':isToggle}">
  <div class="card-header">
    <h4 class="card-title">{{cardTitle}}</h4>
    <div class="btn-group">
      <button class="material-btn" (click)="close()">
        <i class="fa fa-close fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="card-content">
    <p>asa</p>
    <p>asa</p>
    <p>asa</p>
    <p>asa</p>
    <p>asa</p>
    <p>asa</p>
    <p>asa</p>
    <p>asa</p>
  </div>
  <div class="card-footer">
  </div>
</div>
