<form class="pagination-wrapper">
  <div class="form-group pages">
    <pagination-controls class="my-pagination" [id]="pagerId" (pageChange)="pageChangedfn" maxSize="9" directionLinks="true"
      autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  <div class="form-group options pages">
    <div class="input-group input-group-sm">
      <select class="form-control" name="pageChangedName" [(ngModel)]="pageInfo.pageSize" (ngModelChange)="pageNumberChangefn">
        <option>1</option>
        <option>5</option>
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
        <option>200</option>
      </select>
      <span class="input-group-addon addon-right">条/页</span>
    </div>
  </div>
</form>
