@import './theme/conf';
@import './theme/base';
@import './theme/fonts';
@import './theme/cover/_card';
@import './theme/cover/_buttons';
@import './theme/cover/_form';
@import './theme/cover/_tables';
@import './theme/cover/_modal';
@import './theme/cover/_pell-editor';
@import './theme/cover/_ng2-select';