.form-group {
    line-height: auto;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.list-id {
    font-size: 14px;
    font-weight: 700;
}

.list-text,
.list-over {
    display: inline-block;
    width: 65%;
    text-align: left;
    font-size: 12px;
}

.list-over {
    color: #ccc;
    text-decoration: line-through;
}

.over-btn {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    font-size: 20px;
}