<div class="card">
  <div class="card-header">
    <h4 class="card-title">TODO LIST</h4>
    <button class="cyclo-btn" (click)="addNewList()">
      <i class="fa fa-plus fa-fw" [ngClass]="{'collapse-on':collapse === 'on','collapse-off':collapse === 'off'}"></i>
    </button>
  </div>
  <div style="margin-top:20px;">
    <div class="form-group" *ngFor="let item of todolist;let i = index">
      <span class="list-id">{{item.id}}. </span>
      <label class="list-text" [ngClass]="{'list-over':item.isOver,'list-text':!item.isOver}" (dblclick)="edit(i)" *ngIf="!item.isEdit">{{item.text}}</label>
      <input type="text" class="edit-input" [(ngModel)]="item.text" *ngIf="item.isEdit" (keyup.enter)="saveAs(i)">
      <button class="over-btn" (click)="overMatter(i)">
        <i class="fa fa-circle-o fa-fw" *ngIf="!item.isOver"></i>
        <i class="fa fa-check-circle-o fa-fw" *ngIf="item.isOver"></i>
      </button>
    </div>
  </div>
</div>