@import "../../theme/conf";
a,
span {
    display: inline-block;
    text-transform: uppercase;
    color: rgba($fonts-color, .7);
    font-size: $sm-text+1;
    margin-bottom: 20px;
}

a:hover {
    color: $primary;
    text-decoration: none;
}

i {
    font-size: $default-text;
    color: rgba($fonts-color, .5);
}

span {
    color: $fonts-color;
}