<div class="row">
  <div class="col-md-12">
    <card cardTitle="DEFAULT TABLE">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>PRICE</th>
            <th>STATE</th>
            <th>OPERATION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" class="form-control table-form-control">
            </td>
            <td>
              <input type="text" class="form-control table-form-control">
            </td>
            <td>
              <input type="text" class="form-control table-form-control">
            </td>
            <td>
              <input type="text" class="form-control table-form-control">
            </td>
            <td>
              <input type="text" class="form-control table-form-control">
            </td>
            <td>
              <select name="state" id="state" class="form-control">
                <option value="1">primary</option>
                <option value="1">warning</option>
                <option value="1">success</option>
                <option value="1">danger</option>
                <option value="1">info</option>
              </select>
            </td>
            <td>
              <button class="btn btn-sm btn-primary btn-with-ico">
                <i class="fa fa-plus"></i>
                New Row
              </button>
            </td>
          </tr>
          <tr *ngFor="let item of table_data | paginate: { id: 'pager', itemsPerPage: pageInfo.pageSize, currentPage:pageInfo.pageNumber, totalItems: pageInfo.total};let index = index">
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.user_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.price}}</td>
            <td>
              <span class="label label-info">info</span>
            </td>
            <td>
              <button class="btn btn-sm btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-sm btn-success">
                <i class="fa fa-check"></i>
              </button>
              <button class="btn btn-sm btn-danger">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <du-pagination pagerId="pager" [pageInfo]="pageInfo" (pageChangedfn)="pageChanged()" (pageNumberChangefn)="loadData()"></du-pagination>
    </card>
  </div>
</div>
