<div class="login-wrapper">
  <div class="login-card card-block">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">
           <i class="fa fa-user fa-fw"></i> 
        </span>
        <input aria-describedby="basic-addon1" class="form-control form-control-lg with-primary-addon" placeholder="USERNAME" type="text">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon2">
           <i class="fa fa-lock fa-fw"></i> 
        </span>
        <input aria-describedby="basic-addon2" class="form-control form-control-lg with-primary-addon" placeholder="PASSWORD" type="password">
      </div>
      <button class="btn btn-lg btn-primary">Login</button>
    </div>
  </div>
</div>