<div class="col-md-12">api实验</div>
<div class="col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>#</td>
        <td>
          <input type="text" class="form-control table-form-control" [(ngModel)]="name">
        </td>
        <td>
          <input type="text" class="form-control table-form-control" [(ngModel)]="age">
        </td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
        </td>
      </tr>
      <tr *ngFor="let item of getList;let index = index">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>
          <button class="btn btn-danger btn-xs" (click)="delete(index)">Delete</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
