<div class="weather-wrap">
  <div class="weather-content">
    <i class="icon iconfont icon-duoyun type"></i>
    <span class="date">03-04</span>
    <span class="low-high">29.0℃ ~ 22.0℃</span>
    <span class="wind">
      <i class="icon iconfont icon-tianqizitiku09"></i>
      <3级</span>
  </div>
  <div class="weather-bottom">
    <div class="forecast-item-wrap">
      <i class="icon iconfont icon-duoyun"></i>
      <span>03-04</span>
    </div>
    <div class="forecast-item-wrap">
      <i class="icon iconfont icon-duoyun"></i>
      <span>03-05</span>
    </div>
    <div class="forecast-item-wrap">
      <i class="icon iconfont icon-xiaoyu"></i>
      <span>03-06</span>
    </div>
    <div class="forecast-item-wrap">
      <i class="icon iconfont icon-xiaoyu"></i>
      <span>03-07</span>
    </div>
    <div class="forecast-item-wrap">
      <i class="icon iconfont icon-qing"></i>
      <span>03-08</span>
    </div>
  </div>
</div>
