@import './color';
@mixin form {
    display: block;
    text-align: center;
    outline: none;
    border: none;
}

.material-btn {
    @include form;
    position: relative;
    right: 0;
    top: 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    background: transparent;
    color: rgba($gray, .7);
    &:after {
        @include form;
        content: '';
        position: absolute;
        top: 0;
        width: 35px;
        height: 35px;
        background: rgba($black, .15);
        border-radius: 50%;
        @include transition(all .2s);
        @include transform(scale(0));
    }
    &:hover {
        color: #333;
    }
    &:hover:after {
        @include transition(all .2s);
        @include transform(scale(1));
    }
}

.cyclo-btn {
    @include form;
    width: 40px;
    height: 40px;
    @extend .bg-success;
    @include box-shadow( 0 2px 5px 0 rgba(0, 0, 0, 0.25));
    line-height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: $white;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
{
    outline: none;
}

.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    @include transition(all 0.2s);
}

.btn-default {
    color: $gray;
    @extend .bg-default;
    @include box-shadow( 3px 3px 20px rgba($black, .2));
}

.btn-primary {
    @extend .bg-primary;
    @include box-shadow( 3px 3px 20px rgba($primary, .5));
    &:active {
        @extend .bg-primary;
    }
}

.btn-success {
    @extend .bg-success;
    @include box-shadow( 3px 3px 20px rgba($success, .5));
    &:active {
        @extend .bg-success;
    }
}

.btn-danger {
    @extend .bg-danger;
    @include box-shadow( 3px 3px 20px rgba($danger, .5));
    &:active {
        @extend .bg-danger;
    }
}

.btn-warning {
    @extend .bg-warning;
    @include box-shadow( 3px 3px 20px rgba($warning, .5));
    &:active {
        @extend .bg-warning;
    }
}

.btn-info {
    @extend .bg-info;
    @include box-shadow( 3px 3px 20px rgba($info, .5));
    &:active {
        @extend .bg-info;
    }
}

.btn-mm {
    font-size: 13px;
}

.btn-xm {
    font-size: 15px;
}

.btn-group {
    .btn-primary,
    .btn-primary:active {
        @include linear-gradient(to bottom, #cb85fa, #0ae9ec);
    }
    .btn-primary,
    .btn-primary:active {
        @include linear-gradient(to bottom, #cb85fa, #0ae9ec);
    }
    .btn-success,
    .btn-success:active {
        @include linear-gradient(to bottom, #28bfb9, #9dffce);
    }
    .btn-danger,
    .btn-danger:active {
        @include linear-gradient(to bottom, #f9619a, #fbaa68);
    }
    .btn-warning,
    .btn-warning:active {
        @include linear-gradient(to bottom, #fda400, #fce16a);
    }
    .btn-info,
    .btn-info:active {
        @include linear-gradient(to bottom, #0a91ec, #0ae9ec);
    }
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 2px;
    font-size: 12px;
    line-height: 1.5;
}

.btn-group-sm>.btn,
.btn-sm {
    font-size: 12px;
    line-height: 1.5;
}

.btn-group-lg>.btn,
.btn-lg {
    font-size: 18px;
    line-height: 1.3333333;
}

.btn-with-icon {
    span,
    i {
        margin: auto 5px;
    }
}