.card,
.card-block,
.card-primary,
.card-success,
.card-danger,
.card-warning {
    width: auto;
    height: auto;
    position: relative;
    background: $white;
    border: none;
    border-radius: 3px;
    color: $gray;
    overflow: hidden;
    margin-bottom: 24px;
    @include box-shadow( 0 5px 5px 0 rgba(0, 0, 0, 0.25));
}

.card-block {
    display: block;
    padding: 10px;
}

.card-primary,
.card-success,
.card-danger,
.card-warning {
    color: #fff;
}

.card-primary {
    @extend .bg-primary;
    @include box-shadow( 0 5px 5px 0 rgba($primary, .5));
}

.card-success {
    @extend .bg-success;
    @include box-shadow( 0 5px 5px 0 rgba($success, .5));
}

.card-danger {
    @extend .bg-danger;
    @include box-shadow( 0 5px 5px 0 rgba($danger, .5));
}

.card-warning {
    @extend .bg-warning;
    @include box-shadow( 0 5px 5px 0 rgba($warning, .5));
}

.card-info {
    @extend .bg-info;
    @include box-shadow( 0 5px 5px 0 rgba($info, .5));
}

.card-header {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid $mask;
    @include box-shadow( 0 2px 7px 0 rgba(0, 0, 0, 0.15));
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    .card-title {
        display: inline-block;
        margin: 0;
        line-height: 45px;
        font-size: 13px;
        letter-spacing: .1em;
    }
}

.collapse-off {
    @include transition(all 0.2s);
    @include transform(rotate(0deg));
}

.collapse-on {
    @include transition(all 0.2s);
    @include transform(rotate(180deg));
}

.card-content {
    padding: 10px 10px 0 10px;
    height: auto;
    overflow: hidden;
}