.card,
.card-block,
.card-primary,
.card-success,
.card-danger,
.card-warning {
    width: auto;
    height: auto;
    position: relative;
    background: $white;
    border-radius: 3px;
    color: $gray;
    overflow: hidden;
    @include box-shadow( 5px 5px 20px rgba($black, .2));
}

.card-block {
    display: block;
    padding: 10px;
}

.card-primary,
.card-success,
.card-danger,
.card-warning {
    color: #fff;
}

.card-primary {
    @extend .bg-primary;
    @include box-shadow( 3px 3px 20px rgba($primary, .5));
}

.card-success {
    @extend .bg-success;
    @include box-shadow( 3px 3px 20px rgba($success, .5));
}

.card-danger {
    @extend .bg-danger;
    @include box-shadow( 3px 3px 20px rgba($danger, .5));
}

.card-warning {
    @extend .bg-warning;
    @include box-shadow( 3px 3px 20px rgba($warning, .5));
}

.card-info {
    @extend .bg-info;
    @include box-shadow( 3px 3px 20px rgba($info, .5));
}

.card-header {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid $mask;
    padding: 0 10px;
    .card-title {
        margin: 0;
        line-height: 35px;
    }
}

.card-content {
    padding: 10px;
}