@import './color';
@import './mixin';

.form-group {
    label {
        font-weight: normal;
        font-size: 14px;
    }
}

.form-control {
    display: block;
    width: 100%;
    color: $gray;
    background-color: $white;
    box-shadow: none;
    font-size: 14px;
    &:focus {
        @include box-shadow(none);
    }
}

.form-control-sm {
    font-size: 12px;
    height: 30px;
}

.form-control-lg {
    font-size: 16px;
    height: 50px;
}

input.form-control {
    border-radius: 0;
    border: 1px solid $gray;
}

.with-primary-addon:focus {
    @extend .border-primary;
}

.with-success-addon:focus {
    @extend .border-success;
}

.with-warning-addon:focus {
    @extend .border-warning;
}

.with-danger-addon:focus {
    @extend .border-danger;
}

.with-info-addon:focus {
    @extend .border-info;
}

input.form-control[disabled] {
    background-color: $white;
}

textarea.form-control {
    font-size: 14px;
    height: 96px;
    border-radius: 0;
    &:focus {
        @extend .border-primary;
    }
}

.input-group-addon {
    line-height: inherit;
    color: $gray;
    @extend .bg-default;
}

.input-group-addon-primary,
.input-group-addon-success,
.input-group-addon-warning,
.input-group-addon-danger,
.input-group-addon-info {
    color: $white;
    border: $gray;
}

.input-group-addon-primary {
    background-color: $primary;
}

.input-group-addon-success {
    background-color: $success;
}

.input-group-addon-warning {
    background-color: $warning;
}

.input-group-addon-danger {
    background-color: $danger;
}

.input-group-addon-info {
    background-color: $info;
}


/* checkbox */

.checkbox {
    display: none;
}

.check-label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid rgba($gray,.5);
    cursor: pointer;
    margin: 0;
    position: relative;
}

.checkbox:checked+.check-label:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: $gray;
    position: absolute;
    top: 1px;
    left: 1px;
}