@import './color';
.table {
    &>thead {
        &>tr {
            &>th {
                text-align: center;
                white-space: nowrap;
                border-bottom: 1px solid $mask;
            }
        }
    }
    &>tbody {
        &>tr {
            &>td {
                border-top: 1px solid $mask;
                text-align: center;
            }
        }
    }
}

.table-striped>tbody {
    &>tr {
        &:nth-child(odd) {
            background-color: rgba($mask, .1);
        }
        &>td {
            border-top: 1px solid transparent;
        }
    }
}

.table-hover {
    >tbody>tr:hover {
        background-color: rgba($mask, .15);
        >td {
            border-top: 1px solid transparent;
        }
    }
}

.table-bordered,
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>th {
    border: 1px solid rgba($mask, .5);
}