@import './mixin';
$body-bg:#e7e7e7;
$white:#ffffff;
$black:#000000;
$gray:#666;
$mask:rgba($black, .1);
$primary:#cb85fa;
$success:#28bfb9;
$danger:#f9619a;
$warning:#fda400;
$info:#2e70ff;
.bg-default {
    background: $white;
}

.bg-primary {
    @include linear-gradient(to top right, $primary, #0ae9ec);
}

.bg-success {
    @include linear-gradient(to top right, $success, #9dffce);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fbaa68);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fce16a);
}

.bg-info {
    @include linear-gradient(to top right, $info, #0ae9ec);
}

.border-default {
    background: $white;
}

.border-primary {
    @include border-gradient($primary, #0ae9ec);
}

.border-success {
    @include border-gradient($success, #9dffce);
}

.border-danger {
    @include border-gradient($danger, #fbaa68);
}

.border-warning {
    @include border-gradient($warning, #fce16a);
}

.border-info {
    @include border-gradient($info, #0ae9ec);
}