@import './mixin';
$body-bg:#eee;
$white:#fff;
$black:#000;
$gray:#666;
$mask:rgba($black, .1);
$primary:#c887fd;
$success:#29bdb6;
$danger:#f9619a;
$warning:#fda400;
$info:#2e70ff;
.bg-default {
    background: $white;
}

.bg-primary {
    @include linear-gradient(to top right, $primary, #11e9e2);
}

.bg-success {
    @include linear-gradient(to top right, $success, #42e697);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fbaa68);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fce16a);
}

.bg-info {
    @include linear-gradient(to top right, $info, #0ae9ec);
}

.border-default {
    background: $white;
}

.border-primary {
    @include border-gradient($primary, #cbaafd);
}

.border-success {
    @include border-gradient($success, #42e697);
}

.border-danger {
    @include border-gradient($danger, #fbaa68);
}

.border-warning {
    @include border-gradient($warning, #fce16a);
}

.border-info {
    @include border-gradient($info, #0ae9ec);
}