@import './mixin';
$body-bg:#e7e7e7;
$white:#ffffff;
$black:#000000;
$gray:#666;
$mask:rgba($black, .1);
$primary:#cb85fa;
$success:#28bfb9;
$danger:#f9619a;
$warning:#fda400;
$info:#0a91ec;
.bg-default {
    background: $white;
}

.bg-primary {
    @include linear-gradient(to top right, #cb85fa, #0ae9ec);
}

.bg-success {
    @include linear-gradient(to top right, #28bfb9, #9dffce);
}

.bg-danger {
    @include linear-gradient(to top right, #f9619a, #fbaa68);
}

.bg-warning {
    @include linear-gradient(to top right, #fda400, #fce16a);
}

.bg-info {
    @include linear-gradient(to top right, #0a91ec, #0ae9ec);
}

.border-default {
    background: $white;
}

.border-primary {
    @include border-gradient(#cb85fa, #0ae9ec);
}

.border-success {
    @include border-gradient(#28bfb9, #9dffce);
}

.border-danger {
    @include border-gradient(#f9619a, #fbaa68);
}

.border-warning {
    @include border-gradient(#fda400, #fce16a);
}

.border-info {
    @include border-gradient(#0a91ec, #0ae9ec);
}