@mixin box-shadow($shadow...) {
    box-shadow: $shadow;
    -o-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
}

@mixin transform($transform...) {
    transform: $transform;
    -o-transform: $transform;
    -moz-transform: $transform;
    -webkit-transform: $transform;
}

@mixin transition($transition...) {
    transition: $transition;
    -o-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}

@mixin linear-gradient($color...) {
    background: linear-gradient($color);
    background: -o-linear-gradient($color);
    background: -moz-linear-gradient($color);
    background: -webkit-linear-gradient($color);
}

@mixin border-gradient($color...) {
    border-image: linear-gradient($color) 20 30;
    border-image: -moz-linear-gradient($color) 30 30;
    border-image: -webkit-linear-gradient($color) 30 30;
}