<card cardTitle="DEFAULT TABLE">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>
          <label class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" [checked]="isCheckedAll" (change)="allChecked($event.target)">
          </label>
        </th>
        <th>first_name</th>
        <th>last_name</th>
        <th>user_name</th>
        <th>email</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of default_data;let index = index">
        <td>
          <label class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" [checked]="item.checked" (change)="Checked($event.target,index)">
          </label>
        </td>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.user_name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.price}}</td>
      </tr>
    </tbody>
  </table>
</card>