<div class="row">
  <div class="col-md-6">
    <card cardTitle="DEFAULT TABLE">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>
              <input class="checkbox" type="checkbox" id="isCheckedAll" [checked]="isCheckedAll" (change)="allChecked($event.target)">
              <label class="check-label" for="isCheckedAll"></label>
            </th>
            <th>#</th>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>PRICE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of default_data;let index = index">
            <td>
              <input class="checkbox" type="checkbox" id="check{{index}}" [checked]="item.checked" (change)="Checked($event.target,index)">
              <label class="check-label" for="check{{index}}"></label>
            </td>
            <td>{{index}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.user_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.price}}</td>
          </tr>
        </tbody>
      </table>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle="DEFAULT TABLE">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>
              <input class="checkbox" type="checkbox" id="isCheckedAll" [checked]="isCheckedAll" (change)="allChecked($event.target)">
              <label class="check-label" for="isCheckedAll"></label>
            </th>
            <th>#</th>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>PRICE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of default_data;let index = index">
            <td>
              <input class="checkbox" type="checkbox" id="check{{index}}" [checked]="item.checked" (change)="Checked($event.target,index)">
              <label class="check-label" for="check{{index}}"></label>
            </td>
            <td>{{index}}</td>
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.user_name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.price}}</td>
          </tr>
        </tbody>
      </table>
    </card>
  </div>
</div>
