<div class="card card-block">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>1111</th>
        <th>1111</th>
        <th>1111</th>
        <th>1111</th>
        <th>1111</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2222</td>
        <td>2222</td>
        <td>2222</td>
        <td>2222</td>
        <td>2222</td>
      </tr>
      <tr>
        <td>2222</td>
        <td>2222</td>
        <td>2222</td>
        <td>2222</td>
        <td>2222</td>
      </tr>
      <tr>
        <td>2222</td>
        <td>2222</td>
        <td>2222</td>
        <td>2222</td>
        <td>2222</td>
      </tr>
    </tbody>
  </table>
</div>