<div class="row margin-bottom">
  <div class="col-md-6">
    <card cardTitle='VIEWS'>
      <div echarts [options]="chartOption" [loading]="showloading" class="demo-chart"></div>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle='TIPS'>
      <div echarts [options]="Baroptions" [loading]="showloading" class="demo-chart"></div>
    </card>
  </div>
</div>
<div class="row margin-bottom">
  <div class="col-md-6">
    <card cardTitle='VIEWS'>
      <div echarts [options]="linkoption" [loading]="showloading" class="demo-chart"></div>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle='TIPS'>
      <div echarts [options]="mapoption" [loading]="showloading" class="demo-chart"></div>
    </card>
  </div>
</div>