<div class="tree">
  <ul>
    <li *ngFor="let item of treesItem">
      <a href="#">{{item.name}}</a>
      <du-treeDiagram *ngIf="item.children" [treesItem]="item.children"></du-treeDiagram>
    </li>
  </ul>
</div> 






<!-- <div class="tree">
  <ul>
    <li *ngFor="let item of treesItem">
      <a href="#">{{item.name}}</a>
      
      <ul>
        <li *ngFor="let item of item.children">
          <a href="#">{{item.name}}</a>
          <ul>
            <li *ngFor="let item of item.children">
              <a href="#">{{item.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div> -->