<div class="card card-block">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>sadfad</th>
        <th>sadfad</th>
        <th>sadfad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>sasfwfv</td>
        <td>sasfwfv</td>
        <td>sasfwfv</td>
      </tr>
      <tr>
        <td>sasfwfv</td>
        <td>sasfwfv</td>
        <td>sasfwfv</td>
      </tr>
      <tr>
        <td>sasfwfv</td>
        <td>sasfwfv</td>
        <td>sasfwfv</td>
      </tr>
    </tbody>
  </table>
</div>