@import '../../theme/conf';
.msg-center-wrap {
    float: left;
    width: 0px;
    height: 100%;
    background: $sidebar-bg;
    border-left:1px solid $border-color;
}

.msg-center-close {
    width:0;
}