@import '../../styles/color';
@import '../../styles/mixin';
.menu-wrapper {
    padding: 0;
    width: 220px;
    height: auto;
}

.menu-item {
    margin: 0;
    list-style: none;
    width: 100%;
    height: auto;
    line-height: 40px;
    overflow: hidden;
    .menu-link {
        display: block;
        width: 100%;
        height: 40px;
        outline: none;
        background: transparent;
        border-bottom: 1px solid rgba($white, .1);
        color: $white;
        font-size: 12px;
        text-decoration: none;
        @include transition(all 0.4s);
        &:hover {
            background: $mask;
        }
        .placeholder {
            display: block;
            width: 40px;
            float: left;
            margin: 0 10px;
            line-height: 40px;
            font-size: 12px;
        }
        span {
            float: right;
            margin: 0 10px 0 0;
            line-height: 40px;
            @include transform(rotate(0deg));
            @include transition(all 0.2s);
        }
    }
    .menu-link.active {
        background: $mask;
        color: $white;
        border-left: 4px solid $black;
    }
}

.item-toggle-on {
    .menu-link {
        span {
            @include transform(rotate(90deg));
        }
    }
}

.item-toggle-off {
    height: 41px;
}