<ul class="menu-wrapper">
  <li *ngFor="let item of menuInfo">

    <a href="javascript:;" [routerLink]="[item.routerLink.join('/')]"
    *ngIf="item.routerLink" routerLinkActive="active" (click)="onChooseMenuItem(item)">
      <div class="placeholder"><i class="fa fa-{{item.icon}} fa-fw"></i></div>
      {{item.title}}
    </a>
    
    <a href="javascript:;" *ngIf="!item.routerLink" (click)="openMenu($event.target)">
      <div class="placeholder"><i class="fa fa-{{item.icon}} fa-fw" *ngIf="item.icon"></i></div>
      {{item.title}}
      <span class="fa fa-angle-right fa-fw"></span>
    </a>
    
    <du-menu [menuInfo]="item.children" (chooseMenuItem)="onChooseMenuItem($event)"></du-menu>
  </li>
</ul>
