@import '../../styles/color';
@import '../../styles/mixin';
.menu-wrapper {
    padding: 0;
    width: 220px;
    height: auto;
}

.menu-item {
    margin: 0;
    list-style: none;
    width: 100%;
    height: auto;
    line-height: 40px;
    overflow: hidden;
    .menu-link {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        height: 40px;
        outline: none;
        background: transparent;
        border-left: 3px solid transparent;
        color: $fonts-color;
        font-size: 12px;
        text-decoration: none;
        overflow: hidden;
        @include transition(all 0.4s);
        &:hover {
            color: $primary;
        }
        .placeholder,
        .text,
        .direction {
            display: block; //border: 1px solid #000;
            height: 40px;
            line-height: 40px;
            font-size: 12px;
        }
        .placeholder {
            width: 47px;
            text-align: center;
        }
        .text {
            flex: 1;
        }
        .direction {
            width: 40px;
            @include transition(transform 0.4s);
            @include transform(rotate(0deg));
        }
    }
    .menu-link.active {
        //@include linear-gradient(to right, $primary, #e0cbff);
        border-left: 3px solid $primary;
        color: $primary;
    }
}

.item-toggle-on {
    .menu-link {
        .direction {
            @include transform(rotate(90deg));
        }
    }
}

.item-toggle-off {
    height: 40px;
}