<div class="row">
  <div class="col-md-6">
    <card cardTitle="STANDARD FIELDS">
      <div class="form-group">
        <label class="control-label">Text</label>
        <input type="text" class="form-control" placeholder="Text Input">
      </div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" class="form-control" placeholder="Password Input">
      </div>
      <div class="form-group">
        <label class="control-label">With Help</label>
        <input type="text" class="form-control" placeholder="With Help">
        <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
      <div class="form-group">
        <label class="control-label">Disabled</label>
        <input type="text" class="form-control" placeholder="Disabled Input" disabled>
      </div>
      <div class="form-group">
        <label class="control-label">Textarea</label>
        <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label">Small Input</label>
        <input type="text" class="form-control form-control-sm" placeholder="Small Input">
      </div>
      <div class="form-group">
        <label class="control-label">Large Input</label>
        <input type="text" class="form-control form-control-lg" placeholder="Large Input">
      </div>
    </card>
    <card cardTitle="INPUT GROUP">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">@</span>
          <input aria-describedby="basic-addon1" class="form-control with-primary-addon" placeholder="Username" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input aria-describedby="basic-addon1" class="form-control with-danger-addon" placeholder="Username" type="text">
          <span class="input-group-addon input-group-addon-danger addon-right" id="basic-addon1">@163.com</span>
        </div>
      </div>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle="STANDARD FIELDS">
      <div class="form-group">
        <div class="col-md-4">
          <input class="checkbox" type="checkbox" id="checkbox1" checked>
          <label class="check-label" for="checkbox1">default</label>
        </div>
        <div class="col-md-4">
          <input class="checkbox checkbox-primary" type="checkbox" id="checkbox2">
          <label class="check-label" for="checkbox2">primary</label>
        </div>
        <div class="col-md-4">
          <input class="checkbox checkbox-success" type="checkbox" id="checkbox3">
          <label class="check-label" for="checkbox3">success</label>
        </div>
        <div class="col-md-4">
          <input class="checkbox checkbox-warning" type="checkbox" id="checkbox4">
          <label class="check-label" for="checkbox4">warning</label>
        </div>
        <div class="col-md-4">
          <input class="checkbox checkbox-danger" type="checkbox" id="checkbox5">
          <label class="check-label" for="checkbox5">danger</label>
        </div>
        <div class="col-md-4">
          <input class="checkbox checkbox-info" type="checkbox" id="checkbox6">
          <label class="check-label" for="checkbox6">info</label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <input class="radio" type="radio" id="radio1" name="radio" checked>
          <label class="radio-label" for="radio1">radio1</label>
        </div>
        <div class="col-md-4">
          <input class="radio" type="radio" id="radio2" name="radio">
          <label class="radio-label" for="radio2">radio1</label>
        </div>
        <div class="col-md-4">
          <input class="radio" type="radio" id="radio3" name="radio">
          <label class="radio-label" for="radio3">radio1</label>
        </div>
      </div>
    </card>
    <card cardTitle="SELECT">
      <div class="form-group">
        <select name="select" id="select1" class="form-control">
          <option value="option1">option1</option>
          <option value="option2">option2</option>
          <option value="option3">option3</option>
          <option value="option4">option4</option>
        </select>
      </div>
      <div class="form-group">
        <select multiple name="select" id="select1" class="form-control">
          <option value="option1">option1</option>
          <option value="option2">option2</option>
          <option value="option3">option3</option>
          <option value="option4">option4</option>
          <option value="option5">option4</option>
          <option value="option6">option4</option>
          <option value="option7">option4</option>
        </select>
      </div>
    </card>
  </div>
</div>
