<div class="row">
  <div class="col-md-6 animated fadeInDown">
    <card cardTitle="STANDARD FIELDS">
      <div class="form-group">
        <label>Text Input</label>
        <input type="text" class="form-control" placeholder="Text Input">
      </div>
      <div class="form-group">
        <label>Password Input</label>
        <input type="password" class="form-control" placeholder="Password Input">
      </div>
      <div class="form-group">
        <label>With Help</label>
        <input type="text" class="form-control" placeholder="With Help">
        <span class="help-block sub-little-text">A block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
      <div class="form-group">
        <label>Disabled Input</label>
        <input type="text" class="form-control" placeholder="Disabled Input" disabled>
      </div>
      <div class="form-group">
        <label>Textarea</label>
        <textarea cols="0" rows="10" class="form-control" placeholder="Textarea"></textarea>
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" placeholder="Small Input">
      </div>
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Large Input">
      </div>
    </card>
    <card cardTitle="INPUT GROUP">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon input-group-addon-primary addon-left" id="basic-addon1">@</span>
          <input aria-describedby="basic-addon1" class="form-control with-primary-addon" placeholder="Username" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input aria-describedby="basic-addon1" class="form-control with-danger-addon" placeholder="Username" type="text">
          <span class="input-group-addon input-group-addon-danger addon-right" id="basic-addon1">@163.com</span>
        </div>
      </div>
    </card>
  </div>
  <div class="col-md-6 animated fadeInDown">
    <card cardTitle="STANDARD FIELDS">
      <div class="form-group">
        <input class="checkbox" type="checkbox" id="checkbox1">
        <label class="check-label" for="checkbox1"></label>
      </div>
      <div class="form-group row">
        <div class="col-md-4">
          <input class="radio" type="radio" id="radio1" name="radio">
          <label class="radio-label" for="radio1"></label>
        </div>
        <div class="col-md-4">
          <input class="radio" type="radio" id="radio2" name="radio">
          <label class="radio-label" for="radio2"></label>
        </div>
        <div class="col-md-4">
          <input class="radio" type="radio" id="radio3" name="radio">
          <label class="radio-label" for="radio3"></label>
        </div>
      </div>
    </card>
  </div>
</div>
