@import '../../theme/conf';
li {
    padding: 5px 37px;
    list-style: none;
    font-size: $sm-text;
    position: relative;
    &::before {
        display: block;
        content: '';
        position: absolute;
        top: -11px;
        left: 27px;
        width: 15px;
        height: 26px;
        border-left: 1px dotted rgba($fonts-color, .5);
        border-bottom: 1px dotted rgba($fonts-color, .5);
    }
}

.trees-items {
    &:hover {
        cursor: pointer;
        .ico {
            color: lighten($primary, 10%);
        }
    }
}

.file-ico {
    display: inline-block;
    width: 60px;
    margin-right: 5px;
    text-align: left;
    .ico {
        font-size: $default-text;
        color: $primary;
        margin: 0;
    }
    .fa-file {
        margin-left: 22px;
    }
}

.item-children {
    overflow: hidden;
}

.check-label {
    float: left;
}