<ul class="nav-box">
    <li *ngFor="let item of menu" class="nav-list">
        <a href="javascript:;" *ngIf="item.data">{{item.data.menu.title}}</a>
        <ul class="nav-box">
            <li *ngFor="let item of item.children">
                <a href="javascript:;" *ngIf="item.data">{{item.data.menu.title}}</a>
                <ul class="nav-box">
                    <li *ngFor="let item of item.children">
                        <a href="javascript:;" *ngIf="item.data">{{item.data.menu.title}}</a>
                        <ul class="nav-box">
                            <li *ngFor="let item of item.children">
                                <a href="javascript:;" *ngIf="item.data">{{item.data.menu.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>