.btn-wrap {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.control-label {
    display: block;
    width: 100%;
}

.division {
    width: 50%;
    float: left;
}

.btn-icon {
    margin: 0 5px;
}