<div class="row">
  <div class="col-md-6">
    <card cardTitle='basic buttons'>
      <button class="btn btn-default">Default</button>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-warning">Warning</button>
      <button class="btn btn-danger">Danger</button>
      <button class="btn btn-info">Info</button>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle='icon buttons'>
      <button class="btn btn-icon btn-default">
        <i class="fa fa-diamond fa-fw"></i>
      </button>
      <button class="btn btn-icon btn-primary">
        <i class="fa fa-diamond fa-fw"></i>
      </button>
      <button class="btn btn-icon btn-danger">
        <i class="fa fa-diamond fa-fw"></i>
      </button>
      <button class="btn btn-icon btn-warning">
        <i class="fa fa-diamond fa-fw"></i>
      </button>
      <button class="btn btn-icon btn-success">
        <i class="fa fa-diamond fa-fw"></i>
      </button>
      <button class="btn btn-icon btn-info">
        <i class="fa fa-diamond fa-fw"></i>
      </button>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle='button sizes'>
      <div class="btn-sizes">
        <button class="btn btn-lg btn-primary">BUTTON</button>
        <button class="btn btn-danger">BUTTON</button>
        <button class="btn btn-sm btn-success">BUTTON</button>
        <button class="btn btn-xs btn-info">BUTTON</button>
      </div>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle='disabled buttons'>
      <button class="btn btn-default" disabled>BUTTON</button>
      <button class="btn btn-primary" disabled>BUTTON</button>
      <button class="btn btn-danger" disabled>BUTTON</button>
      <button class="btn btn-warning" disabled>BUTTON</button>
      <button class="btn btn-success" disabled>BUTTON</button>
      <button class="btn btn-info" disabled>BUTTON</button>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle='button with icon'>
      <div class="btn-wrap division">
        <button type="button" class="btn btn-success btn-with-icon">
          <i class="fa fa-check fa-fw"></i>Success</button>
      </div>
      <div class="btn-wrap division">
        <button type="button" class="btn btn-warning btn-with-icon">
          <i class="fa fa-exclamation-triangle fa-fw"></i>Warning</button>
      </div>
      <div class="btn-wrap division">
        <button type="button" class="btn btn-danger btn-with-icon">
          <i class="fa fa-bug fa-fw"></i>Danger</button>
      </div>

      <div class="btn-wrap division">
        <button type="button" class="btn btn-info btn-with-icon">
          <i class="fa fa-info fa-fw"></i>Info</button>
      </div>
    </card>
  </div>
  <div class="col-md-6">
    <card cardTitle='buttons group'>
      <div class="btn-wrap division">
        <div class="btn-group">
          <button class="btn btn-danger">Left</button>
          <button class="btn btn-danger">Center</button>
          <button class="btn btn-danger">Right</button>
        </div>
      </div>
      <div class="btn-wrap division">
        <div class="btn-group">
          <button class="btn btn-success">Left</button>
          <button class="btn btn-success">Center</button>
          <button class="btn btn-success">Right</button>
        </div>
      </div>
      <div class="btn-wrap division">
        <div class="btn-group">
          <button class="btn btn-warning">Left</button>
          <button class="btn btn-warning">Center</button>
          <button class="btn btn-warning">Right</button>
        </div>
      </div>
      <div class="btn-wrap division">
        <div class="btn-group">
          <button class="btn btn-info">Left</button>
          <button class="btn btn-info">Center</button>
          <button class="btn btn-info">Right</button>
        </div>
      </div>
    </card>
  </div>
  <div class="col-md-12">
    <card cardTitle='single & split button group'>
      <div class="btn-wrap division">
        <label class="control-label">Single button</label>
        <div class="btn-wrap division">
          <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-wrap division">
          <div class="btn-group">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Action
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="btn-wrap division">
        <label class="control-label">Split button</label>
        <div class="btn-wrap division">
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Action</button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-wrap division">
          <div class="btn-group">
            <button type="button" class="btn btn-info">Action</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Action</a>
              </li>
              <li>
                <a href="#">Another action</a>
              </li>
              <li>
                <a href="#">Something else here</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="#">Separated link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </card>
  </div>
</div>
