<div class="row row-margin-bottom">
  <button class="btn btn-lg btn-default">BUTTON</button>
  <button class="btn btn-lg btn-primary">BUTTON</button>
  <button class="btn btn-lg btn-danger">BUTTON</button>
  <button class="btn btn-lg btn-warning">BUTTON</button>
  <button class="btn btn-lg btn-success">BUTTON</button>
  <button class="btn btn-lg btn-info">BUTTON</button>
</div>
<div class="row row-margin-bottom">
  <button class="btn btn-default">BUTTON</button>
  <button class="btn btn-primary">BUTTON</button>
  <button class="btn btn-danger">BUTTON</button>
  <button class="btn btn-warning">BUTTON</button>
  <button class="btn btn-success">BUTTON</button>
  <button class="btn btn-info">BUTTON</button>
</div>
<div class="row row-margin-bottom">
  <button class="btn btn-sm btn-default">BUTTON</button>
  <button class="btn btn-sm btn-primary">BUTTON</button>
  <button class="btn btn-sm btn-danger">BUTTON</button>
  <button class="btn btn-sm btn-warning">BUTTON</button>
  <button class="btn btn-sm btn-success">BUTTON</button>
  <button class="btn btn-sm btn-info">BUTTON</button>
</div>
<div class="row row-margin-bottom">
  <button class="btn btn-xs btn-default">BUTTON</button>
  <button class="btn btn-xs btn-primary">BUTTON</button>
  <button class="btn btn-xs btn-danger">BUTTON</button>
  <button class="btn btn-xs btn-warning">BUTTON</button>
  <button class="btn btn-xs btn-success">BUTTON</button>
  <button class="btn btn-xs btn-info">BUTTON</button>
</div>

<div class="row row-margin-bottom">
  <div class="btn-group">
    <button class="btn btn-sm btn-default">BUTTON</button>
    <button class="btn btn-sm btn-primary">BUTTON</button>
    <button class="btn btn-sm btn-danger">BUTTON</button>
    <button class="btn btn-sm btn-warning">BUTTON</button>
    <button class="btn btn-sm btn-success">BUTTON</button>
    <button class="btn btn-sm btn-info">BUTTON</button>
  </div>
</div>