<div class="row">
  <div class="col-md-4 row">
    <div class="col-md-12 margin-bottom">
      <card cardTitle='Normal Buttons'>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-default">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-primary">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-danger">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-warning">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-success">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-info">BUTTON</button>
        </div>
      </card>
    </div>
    <div class="col-md-12 margin-bottom">
      <card cardTitle='Button Sizes'>
        <div class="btn-wrapper">
          <button class="btn btn-lg btn-default">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-xm btn-primary">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-danger">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-mm btn-warning">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-sm btn-success">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-xs btn-info">BUTTON</button>
        </div>
      </card>
    </div>
    <div class="col-md-12 margin-bottom">
      <card cardTitle='Disabled Buttons'>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-default" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-primary" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-danger" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-warning" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-success" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-info" disabled>BUTTON</button>
        </div>
      </card>
    </div>
  </div>
  <div class="col-md-4 row">
    <div class="col-md-12 margin-bottom">
      <card cardTitle='Normal Buttons'>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-default">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-primary">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-danger">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-warning">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-success">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-info">BUTTON</button>
        </div>
      </card>
    </div>
    <div class="col-md-12 margin-bottom">
      <card cardTitle='Button Sizes'>
        <div class="btn-wrapper">
          <button class="btn btn-lg btn-default">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-xm btn-primary">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-danger">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-mm btn-warning">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-sm btn-success">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-xs btn-info">BUTTON</button>
        </div>
      </card>
    </div>
    <div class="col-md-12 margin-bottom">
      <card cardTitle='Disabled Buttons'>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-default" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-primary" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-danger" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-warning" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-success" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-info" disabled>BUTTON</button>
        </div>
      </card>
    </div>
  </div>
  <div class="col-md-4 row">
    <div class="col-md-12 margin-bottom">
      <card cardTitle='Normal Buttons'>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-default">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-primary">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-danger">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-warning">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-success">BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-info">BUTTON</button>
        </div>
      </card>
    </div>
    <div class="col-md-12 margin-bottom">
      <card cardTitle='Button Sizes'>
        <div class="btn-wrapper">
          <button class="btn btn-lg btn-default">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-xm btn-primary">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-danger">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-mm btn-warning">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-sm btn-success">BUTTON</button>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-xs btn-info">BUTTON</button>
        </div>
      </card>
    </div>
    <div class="col-md-12 margin-bottom">
      <card cardTitle='Disabled Buttons'>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-default" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-primary" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-danger" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-warning" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-success" disabled>BUTTON</button>
        </div>
        <div class="btn-wrapper division">
          <button class="btn btn-lg btn-info" disabled>BUTTON</button>
        </div>
      </card>
    </div>
  </div>
</div>