@import '../mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#ecf0f5;
$sidebar-bg:#1a2226;
$topbar-bg:#115387;
$sidebar-fonts-color:#fff;
$card-bg:#fff;
$card-border:#e4e3e3;
$white:#fff;
$black:#000;
$border-color:rgba($black, .1);
$table-border-color:#e6e6e6;
$fonts-color:#26253c;
$primary:#3c8dbc;
$success:#00a65a;
$danger:#dd4b39;
$warning:#f39c12;
$info:#00c0ef;
body {
    background: $body-bg;
}

.bg-default {
    @include linear-gradient(to top right, darken($card-bg, 40%), darken($card-bg, 30%));
}

.bg-primary {
    background-color: $primary;
}

.bg-success {
    background-color: $success;
}

.bg-danger {
    background-color: $danger;
}

.bg-warning {
    background-color: $warning;
}

.bg-info {
    background-color: $info;
}
