@import '../mixin';
$default-text:14px;
$sm-text:12px;
$lg-text:16px;
$body-bg:#f5f5f5;
$sidebar-bg:#fff;
$sidebar-fonts-color:#555;
$card-bg:#fff;
$card-border:#e6e6e6;
$white:#fff;
$black:#000;
$border-color:#e6e6e6;
$table-border-color:#e6e6e6;
$fonts-color:#26253c;
$primary:#fca400;
$success:#29bdb6;
$danger:#fa5167;
$warning:#ff8800;
$info:#2cc3ff;
body {
    background: $body-bg;
}

.bg-default {
    @include linear-gradient(to top right, darken($card-bg, 40%), darken($card-bg, 30%));
}

.bg-primary {
    @include linear-gradient(to top right, $primary, #ffdd9f);
}

.bg-success {
    @include linear-gradient(to top right, $success, #42e697);
}

.bg-danger {
    @include linear-gradient(to top right, $danger, #fda09c);
}

.bg-warning {
    @include linear-gradient(to top right, $warning, #fcc26a);
}

.bg-info {
    @include linear-gradient(to top right, $info, #15f8bf);
}