<div class="pages-sider" [ngClass]="{'side-collapsed':!isViewAll}" (click)="_isViewAll()">
  <div class="avatar-wrapper">
    <div class="avatar-bg"></div>
    <div class="avatar">
      <!-- <img src="assets/images/bg.jpg" alt="avatar"> -->
    </div>
    <div class="tips-wrapper">
      <div class="ring">
        <span class="fa fa-bell fa-fw"></span>
      </div>
      <div class="comments">
        <span class="fa fa-comments fa-fw"></span>
      </div>
      <div class="email">
        <span class="fa fa-envelope fa-fw"></span>
      </div>
    </div>
  </div>
  <du-menu [menuInfo]="menuInfo" [isViewAll]="isViewAll"></du-menu>
</div>