@import '../../styles/color';
.pages-sider {
    width: 220px;
    height: 100%;
    background: transparent;
    overflow-x: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    .avatar-wrapper {
        width: 100%;
        height: 270px;
        border-bottom: 1px solid rgba($black, .05);
    }
}

.avatar {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    border: 5px solid rgba($black, .2);
    border-radius: 50%;
    position: relative;
    top: 70px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    img {
        display: block;
        width: 100%;
    }
}

.tips-wrapper {
    height: 50px;
    position: relative;
    top: 70px;
    line-height: 50px;
    text-align: center;
    color: $gray;
}

.ring,
.email {
    &:hover {
        cursor: pointer;
        color: rgba($black, .7);
    }
}

.side-collapsed {
    width: 50px;
    .avatar {
        width: 40px;
        height: 40px;
    }
}